button {
    background-color: rgb(255, 217, 3)
    ;

}

header {
    background-color: rgb(255, 217, 3);
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {

    background-color: saddlebrown;

}

section {
    background-color: limegreen;
}

main {
    background-color:orangered;
}